﻿@model LesDemo.Models.Student

<textarea asp-for="@Model.Naam"
          asp-for-height="5"
          asp-for-width="40"
          asp-is-disabled="false"></textarea>

<reverse-text keyword="Lieselot" caps="true"></reverse-text>